:root {
  --blur-bg: rgba(255, 255, 255, 0.1);
  --blur-filter: 15px;

  --dark-purple-1: #07050c; /* bg level 1 */
  --dark-purple-2: #0b0914; /* bg level 2 */
  --dark-purple-3: #121118; /* bg level 3 */
  --dark-purple-4: #24222f; /* bg level 4 */
  --chart-purple: #2b1f4e; /* New color for charts */
  --light-purple: #1a1920; /*  page selected*/
  --white: #ffffff; /* text */
  --gray: #767676; /* selected component / hover over */
  --dark-green: #2d4f30;
  --light-green: #a6ed96;
  --dark-red: #683342;
  --light-red: #cd1919;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  background-color: var(--dark-purple-1);
}

body.disable-scroll {
  overflow: hidden !important;
  touch-action: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main {
  height: 100vh;
  margin-top: 0;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 100% !important;
  }
}

#home-main,
#player-page-main,
#player-behaviour-page-main,
#behaviours-list #content,
#player-performance-main {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

#home-main,
#player-page-main,
#player-behaviour-page-main,
#behaviours-list #content,
#player-performance-main {
  outline: none;
  border: none;
}

#home-main * {
  outline: none;
}

#home-main .container,
#player-page-main .container,
#player-behaviour-page-main .container,
#player-performance-main .container {
  outline: none;
  border: none;
}

#home-main::-webkit-scrollbar,
#player-page-main::-webkit-scrollbar,
#player-behaviour-page-main::-webkit-scrollbar,
#behaviours-list #content::-webkit-scrollbar,
#player-performance-main::-webkit-scrollbar {
  width: 8px;
}

#home-main::-webkit-scrollbar-track,
#player-page-main::-webkit-scrollbar-track,
#player-behaviour-page-main::-webkit-scrollbar-track,
#behaviours-list #content::-webkit-scrollbar-track,
#player-performance-main::-webkit-scrollbar-track {
  background: transparent;
}

#home-main::-webkit-scrollbar-thumb,
#player-page-main::-webkit-scrollbar-thumb,
#player-behaviour-page-main::-webkit-scrollbar-thumb,
#behaviours-list #content::-webkit-scrollbar-thumb,
#player-performance-main::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border-right: 2px solid transparent;
  background-clip: content-box;
}

#home-main::-webkit-scrollbar-thumb:hover,
#player-page-main::-webkit-scrollbar-thumb:hover,
#player-behaviour-page-main::-webkit-scrollbar-thumb:hover,
#behaviours-list #content::-webkit-scrollbar-thumb:hover,
#player-performance-main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}

#player-performance-main .switch-toggles .name {
  width: 130px;
}

#player-performance-main #checkbox-lists-and-switch-toggles {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
}

img {
  box-shadow: 0px 0px 12px black;
}

a {
  color: var(--white);
  text-decoration: none !important;
  cursor: pointer;
}

a.link {
  display: block;
}

#page-not-found {
  height: 100vh;
  background-color: var(--dark-purple-1);
  color: var(--white);
}

.show {
  display: block !important;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.right-0 {
  right: 0px !important;
}

.box-shadow-behind {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.65) !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.visibility-visible {
  visibility: visible !important;
}

.bottom-padding-30px {
  padding-bottom: 30px !important;
}

.light-purple-bg {
  background-color: var(--dark-purple-3);
}

.col-41point33 {
  width: 41.33333%;
}
.col-58point66 {
  width: 58.66667%;
}

.col-22point22 {
  width: 22.22222%;
}
.col-38point88 {
  width: 38.88889%;
}
.col-77point78 {
  width: 77.77778%;
}

.col-62point5 {
  width: 62.5%;
}

.col-65 {
  width: 65%;
}
