#player-data-window {
  margin: 8px 0;
  padding: 8px 0;
  background-color: var(--dark-purple-2);
  border-radius: 16px;
}

#player-data-window #dropdown {
  width: fit-content;
}

#player-data-window #column-names {
  padding: 8px 0;
}

#player-data-window #column-names > * {
  display: flex;
  align-items: center;
}

#player-data-window #topbar p {
  margin: 0;
  padding: 0 8px;
  color: var(--gray);
}

@media (min-width: 1200px) {
  #player-data-window #players {
    height: calc(100vh - 350px);
  }
}

/* Hide scrollbar */
#player-data-window #players::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
