#line-chart .recharts-cartesian-axis-tick-value {
  font-size: 10px;
}

#line-chart .recharts-cartesian-axis-line {
  display: none;
}

#line-chart .recharts-cartesian-axis-tick-line {
  display: none !important;
}

#line-chart .recharts-legend-item-text {
  color: var(--gray) !important;
}

#line-chart .recharts-tooltip-cursor {
  stroke: var(--dark-purple-4);
}

#line-chart .recharts-legend-wrapper {
  padding: 0 16px;
}

#line-chart .recharts-legend-item {
  margin-right: 24px !important;
} 