#progress-bar-component {
  width: 100%;
  color: var(--white);
  padding: 8px 16px;
  background-color: var(--dark-purple-3);
  border-radius: 16px;
}

#progress-bar-component p {
  text-align: center;
}

#progress-bar-component .progress-container {
  position: relative;
  display: flex;
}

#progress-bar-component .left-bar, #progress-bar-component .right-bar {
  flex: 1;
  height: 3px;
}

#progress-bar-component .left-bar {
  transform: rotate(180deg);
}

#progress-bar-component .progress.left-bar {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#progress-bar-component .right-bar.progress {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#progress-bar-component .left-bar .progress-bar {
  background-color: #ff4d4d;  /* Red for negative values */
  border-radius: 0;
}

#progress-bar-component .right-bar .progress-bar {
  background-color: #4dff4d;  /* Green for positive values */
  border-radius: 0;
}

#progress-bar-component .progress {
  background-color: var(--dark-purple-4);
  border-radius: 0;
  border: none;
  margin: 0;
}

#progress-bar-component .progress-bar {
  border: none;
}

#progress-bar-component .progress-bar-value.positive {
  color: #4dff4d;
}

#progress-bar-component .progress-bar-value.negative {
  color: #4dff4d;
}
