#summary-indicator {
  width: 100%;
  background-color: var(--dark-purple-3);
  border-radius: 12px;
}
#summary-indicator > div {
  /* margin-left: -25px; */
}

#summary-indicator p {
  font-size: 20px;
  width: 100px;
  height: 100px;
}

#summary-indicator #graph {
  width: 100px;
  height: 100px;
  position: relative;
  top: -20px;
}

#summary-indicator #graph .change {
  position: relative;
  top: 20px;
  left: -50px;
  font-size: 14px;
}

#summary-indicator #graph .change p {
  font-size: 14px;
}

#summary-indicator #graph .change .change-stat.up {
  color: var(--light-green);
}
#summary-indicator #graph .change .change-stat.down {
  color: var(--light-red);
}

#summary-indicator #graph .outerSubArc {
  display: none !important;
}

#summary-indicator #graph svg {
  width: 200px;
}

#summary-indicator #graph .tick-line,
.tick-value {
  display: none;
}

#summary-indicator #graph .value-text text {
  font-size: 16px !important;
}

#summary-indicator .squad-availability-value-yes {
  color: var(--light-green);
  margin-left: -20px;
}

#summary-indicator .squad-availability-value-no {
  color: var(--white);
  margin-left: -20px;
}
