#dropdown-menu {
  position: relative;
  z-index: 9999;
}

#dropdown-menu #arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--white);
  transition: 0.3s;
  scale: 1.2;
  color: var(--white);
}

#dropdown-menu #arrow.open {
  transform: rotate(180deg);
}

#dropdown-menu button  {
  border: 1px solid var(--green);
  box-shadow: none;
  background-color: var(--dark-purple-3);
  color: var(--white);
}

#dropdown-menu button:focus {
  border-color: var(--black);
}

#dropdown-menu button.required  {
  border: 2px solid var(--red);
}

#dropdown-menu #list {
  position: absolute;
  list-style: none;
  width: 140%;
  box-shadow: 0 10px 25px var(--black);
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: 6px;
  padding: 4px;
  margin: 0;
  margin-top: 4px;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#dropdown-menu #list.open {
  opacity: 1;
}

#dropdown-menu #list label {
  width: 100%;
}

#dropdown-menu #list input[type="radio"] {
  display: none;
}

#dropdown-menu #list li {
  border-radius: 6px;
  border-bottom: none;
}

#dropdown-menu #list li label {
  padding: 8px 12px;
  cursor: pointer;
}

#dropdown-menu #list li:hover {
  background-color: var(--light-purple);
  color: var(--white);
}