#player-stats {
  color: var(--white);
  margin: 8px 0;
  background-color: var(--dark-purple-3);
  border-radius: 16px;
}

#player-stats i {
  padding: 0;
  margin: 0;
}

#player-stats img {
  width: 46px;
  scale: 0.6;
  height: auto;
  padding: 0;
  margin: 0;
}

.player-alert-icon.moderate {
  color: yellow !important;
}

.player-alert-icon.critical {
  color: var(--light-red) !important;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}
