#behaviours-list {
  background-color: var(--dark-purple-2);
  border-radius: 16px;
  padding: 10px 16px;
  max-height: 85vh;  /* TODO: Make this dynamic */
}

#behaviours-list p {
  color: var(--white);
  text-align: center;
}

#behaviours-list #content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;
}