#behaviour-analysis-selector {
  background-color: var(--dark-purple-2);
  padding: 6px 18px;
  border-radius: 10px;
  color: var(--white);
  overflow: hidden;
  margin-top: 10px;
}

#behaviour-analysis-selector .selector-name {
  padding: 8px 16px;
  transition: all 0.3s ease;
}

#behaviour-analysis-selector .selector-name.selected {
  background-color: var(--dark-purple-4);
  border-radius: 10px;
  opacity: 1;
  transform: scale(1.05);
}

#behaviour-analysis-selector .selector-name:not(.selected) {
  transform: scale(0.95);
}

#behaviour-analysis-selector .cursor-pointer {
  cursor: pointer;
}