.Collapsible {
  color: var(--white);
  width: 100%;
}

.Collapsible #subcategories-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Collapsible #subcategory-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Collapsible .Collapsible__trigger{
  font-size: 18px;
}

.Collapsible .Collapsible__contentOuter p{
  font-size: 14px;
}

.Collapsible .trigger {
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  display: block;
}

.Collapsible .trigger-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Collapsible .arrow-icon {
  transition: transform 0.3s ease;
  font-size: 10px;
}

.Collapsible .trigger.is-open .arrow-icon {
  transform: rotate(180deg);
}

.Collapsible__contentInner {
  padding: 4px 10px;
}