.switch-toggles {
  color: var(--white);
  margin-top: 0;
}

.switch-toggles #toggles-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Add any additional styles for SwitchToggle components if necessary */

