#ai-summary-window {
  background-color: var(--dark-purple-2);
  border-radius: 16px;
  padding: 10px 16px;
  min-height: 200px;
}

#ai-summary-window p {
  color: var(--white);
  width: 100%;
}

#ai-summary-window #title {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

#ai-summary-window #content {
  width: 100%;
}

#ai-summary-window #content p {
  font-size: 12px;
}