#physical-state-window-player-page {
  /* margin: 8px 0; */
  padding: 8px 0;
  background-color: var(--dark-purple-2);
  border-radius: 16px;
}

#physical-state-window-player-page .linechart {
  height: 300px;
  width: 100%;
  padding: 8px 0;
}