#summary-window-player-page {
  color: var(--white);
  border-radius: 16px;
  width: 100%;
}

#summary-window-player-page #summary-indicator {
  height: 70px;
}

#summary-window-player-page #summary-indicator p{
  font-size: 16px;
  text-align: center; 
  height: fit-content;
}

#summary-window-player-page #summary-indicator #graph {
  width: 120px;
  height: fit-content;
  position: relative;
  top: -18px;
  left: -52px;
}

#summary-window-player-page #summary-indicator #graph .change {
  left: -50px;
  top: 18px;
}

#summary-window-player-page #summary-indicator #graph svg {
  width: 160px;
}

#summary-window-player-page #graph g.value-text text {
  font-size: 12px !important;
}