@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

#sidebar {
  width: 240px;
  color: var(--white);
  margin-left: 32px;
  margin-top: 32px;
  height: calc(100vh - 64px);
  font-family: 'Inter', sans-serif;
}

#sidebar h1 {
  font-size: 28px;
}

#sidebar li {
  padding: 3px 0 3px 8px;
  border-radius: 10px;
}

#sidebar li.active {
  background-color: var(--light-purple);
}

#sidebar svg {
  height: 100%;
}

#sidebar a, p {
  font-size: 18px;
}

#sidebar hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--white);
  margin: 4px 0 16px 0;
}

#sidebar i {
  width: 48px;
  height: auto;
  font-size: 48px;
}

#sidebar p {
  margin: 0;
}

#sidebar p#name {
  font-size: 16px;
}

#sidebar p#position {
  font-size: 12px;
  color: var(--gray);
}