#performance-bar-chart {
  height: 260px !important;
}
#performance-bar-chart .recharts-cartesian-axis-tick-value {
  font-size: 12px;
}

#performance-bar-chart .recharts-cartesian-axis-line {
  display: none;
}

#performance-bar-chart .recharts-cartesian-axis-tick-line {
  display: none !important;
}

#performance-bar-chart .recharts-legend-item-text {
  color: var(--gray) !important;
}

#performance-bar-chart .recharts-tooltip-cursor {
  stroke: var(--dark-purple-4);
}

#performance-bar-chart .recharts-legend-wrapper {
  padding: 0 16px;
}

#performance-bar-chart .recharts-legend-item {
  margin-right: 24px !important;
}
